main {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 14px;
	color: white;
	background-color: gray;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-align: center;
}

div.error {
	background-color: tomato;
	margin: 20px;
	margin-right: 120px;
	border-radius: 5px;
	min-height: 50px;
	vertical-align: middle;
}

div.warning {
	background-color: orange;
	margin: 20px;
	margin-right: 120px;
	border-radius: 5px;
	min-height: 50px;
	vertical-align: middle;
}

div.success {
	background-color: mediumseagreen;
	margin: 20px;
	margin-right: 120px;
	border-radius: 5px;
	min-height: 50px;
	vertical-align: middle;
}

form {
	width: 400px;
	margin: 20px;
}

fieldset {
	margin: 20px;
}

table.form td {
	padding: 10px;
}

a.login {
	padding: 10px;
	background-color: dodgerblue;
	margin: 20px;
	float: right;
	text-decoration: none;
}

a {
	color: white;
}

.cancel {
	float: right;
}

nav ul, nav ol {
	list-style-type: none;
}

nav li {
	float: left;
	margin: 20px;
}

nav, header, footer {
	min-height: 50px;
}

.hide {
	display: none;
}

.msg {
	margin-left: 64px;
	margin-top: -64px;
}